{% load static %}<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>

<h1>The grid-row-start and grid-row-end Properties</h1>

<p>The <em>grid-row-start</em> property specifies where to start a grid item. The <em>grid-row-end</em> property specifies where to end a grid item.</p>

<p>Place the first grid item at row-line 1, and let it end on row-line 3:</p>

<div class="grid-container">
  <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>  
  <div class="item4">4</div>
  <div class="item5">5</div>
  <div class="item6">6</div>
  <div class="item7">7</div>
  <div class="item8">8</div>  
</div>
<img src="{% static 'D:\Sheshu2724164\Day8\mysite\hello\static\img\Hunuman.jpg'%}" width=300px height=400px>

</body>
</html>