.container {
  display:grid;
  column-gap: 50px;
   row-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: rgb(69, 202, 222);
  padding: 10px;
}
.container > div {
  background-color: #db6dc3;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: left;
}